<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id = "app">
      <div class ="holder headline">
        Travel Planner
      </div>

      <div class="holder travel-details" id="upcoming-trip">
	<!-- Upcoming itinerary information -->
	<div class="holder upcoming-trip-details">
	  <h2>My trip to: <div id="upcoming-trip-location"></div></h2>
	  <h2>Days To Go: <div id="days-to-go"></div></h2>
	  <h3>Weather: <div id="weather"></div></h3>
	</div>
      </div>

      <div class="holder travel-details" id="new-trip-details">
	<!-- new location input entry form -->
	<div id="whats-happening">
	  Please enter your next travel destination!
	</div>
	<div class="holder city-details">
          <label for="new-city">My trip to:</label>
          <input type="new-text" id="travel-to-city" placeholder="Enter Location Here">
	</div>
	<div class="holder date-entry">
	  <label for="travel-date">Departing:</label>
	  <input type="date" id="new-travel-date" min="2019-12-28"
		 max="2020-12-28" disabled>
	</div>
	<button name="button" id="save-trip-button" disabled>Save Trip</button>
      </div>

      <div class ="holder entry">
        <div class = "title">Most Recent Entry</div>
        <div id = "entryHolder">
          <div id = "date"></div> 
          <div id = "temp"></div>
          <div id = "content"></div>
        </div>
      </div>
    </div>
  </body>
</html>
