/*  Basic Styling To Override Default For Basic HTML Elements */
body
  display: flex
  flex-direction: column
  min-height: 100em
  background: url('https://pixabay.com/get/55e4d3444b52b108f5d0846082293379133bd6ed574c704c72287dd19248c151/cloud-346710_1280.png')

input
  padding: 5px 20px
  width: 100%
  line-height: 16px
  margin: 10px 0  
  display:block
  height: 60px
  width: 320px
  font-size: 20px
  font-family: 'Oswald', sans-serif
  border: none

.upcoming-trip-details
  visibility: hidden
